body
{
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../Images/bg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    color: #fff;
}

html
{
    overflow:  hidden;
}

@media (min-width: 800px) {
    .BlockProgrammist
    {
        position: absolute;
        right: 5vw;
        margin-top: 1vw;
    }

    .LeftTriangle
    {
        position: absolute;
        z-index: -1;
        width: 150vw;
        height: 100vw;
        top: 0vw;
        left: 0vw;
    }

    .RightTextUnderProgrammist
    {
        text-align:right;
    }

    .BlueTextHeader
    {
        font-size: 2vw;
    }

    .DefaultText
    {
        font-size:1.2vw;
    }
}

@media (max-width: 800px) {

    .TextH4
    {
        color: white;
        font-size: 2vw;
        font-family: Bahnschrift;
    }

    .ActiveButton
    {
        border: 0.1vw solid gray;
        width: 20vw;
        height: 5vw;

        background-color: rgb(0, 170, 192);
        border-radius: 8vw;
    }

    .UnActiveButton
    {
        border: 0.1vw solid gray;
        width: 20vw;
        height: 5vw;

        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 8vw;
    }

    .BlockProgrammist
    {
        position: absolute;
        right: 5vw;
        margin-top: 1vw;
    }

    .LeftTriangle
    {
        position: absolute;
        z-index: -1;
        width: 250vw;
        height: 300vw;
        top: 0vw;
        left: 0vw;
    }

    .RightTextUnderProgrammist
    {
        text-align:right;
    }

    .BlueTextHeader
    {
        font-size: 4vw;
    }

    .DefaultText
    {
        font-size:2vw;
    }
}