
/*
* Стили для странички с террарией
* //////////////////////////////////////////////////////////////////////////////////////////
*/

.TerrariaImage
{
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0vw;
    left: 0vw;
    background-color: rgba(0, 0, 0, 0.5);
}

.LeftTerrariaTriangle
{
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0vw;
    left: 0vw;
    opacity: 0.85;
}

.RightTerrariaTriangle
{
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0vw;
    left: 0vw;
    opacity: 0.85;
}

.TerrariaTextBlock
{
    position: absolute;
    top: 4vw;
    width: 100%;
}

.TerrariaHeader
{
    position: absolute;
    right: 5vw;
    margin-top: 0vw;
}

/*
* //////////////////////////////////////////////////////////////////////////////////////////
*/








/*
* Стили для странички с марио
* //////////////////////////////////////////////////////////////////////////////////////////
*/

.MarioImage
{
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 53.5vw;
    left: 0vw;
}

.LeftMarioTriangle
{
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 53.5vw;
    left: 0vw;
    opacity: 0.85;
}

.RightMarioTriangle
{
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 53.5vw;
    left: 0vw;
    opacity: 0.85;
}

.MarioTextBlock
{
    position: absolute;
    top: 53.5vw;
    width: 100%;
}

.MarioHeader
{
    position: absolute;
    right: 5vw;
    margin-top: 5vw;
}

/*
* //////////////////////////////////////////////////////////////////////////////////////////
*/








/*
* Стили для странички с нейронной сетью
* //////////////////////////////////////////////////////////////////////////////////////////
*/

.NeuralNetImage
{
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 107vw;
    left: 0vw;
}

.LeftNeuralNetTriangle
{
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 105vw;
    left: 0vw;
    opacity: 0.85;
}

.RightNeuralNetTriangle
{
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 107vw;
    left: 0vw;
    opacity: 0.85;
}

.NeuralNetTextBlock
{
    position: absolute;
    top: 107vw;
    width: 100%;
}

.NeuralNetHeader
{
    position: absolute;
    right: 5vw;
    margin-top: 7vw;
}

.NeuralNetHeaderRight
{
    text-align: right;
}

/*
* //////////////////////////////////////////////////////////////////////////////////////////
*/








/*
* Стили для странички с результатами нейронной сети
* //////////////////////////////////////////////////////////////////////////////////////////
*/

.NeuralNetResultsImage
{
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 160.5vw;
    left: 0vw;
}

.NeuralNetResultBorder
{
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 160.5vw;
    left: 0vw;
    opacity: 0.85;
}

.NetResultBlock
{
    position: absolute;
    top: 160.5vw;
    width: 100%
}

.RandPeopleHeader
{
    position:absolute;
    top: 18vw;
    font-size: 2vw;
}

.RandDogsHeader
{
    position:absolute;
    top: 40vw;
    right: 10vw;
    font-size: 2vw;
}

/*
* //////////////////////////////////////////////////////////////////////////////////////////
*/









/*
* Положение переходов
* //////////////////////////////////////////////////////////////////////////////////////////
*/

.PositionOfBlockTransition1
{
    top: 42.5vw;
    left: 0vw;
}

.PositionOfBlockTransition2
{
    top: 98vw;
    left: 0vw;
}

.PositionOfBlockTransition3
{
    top: 150vw;
    left: 0vw;
}

/*
* //////////////////////////////////////////////////////////////////////////////////////////
*/









/*
* Блок с надписью "Программист"
* //////////////////////////////////////////////////////////////////////////////////////////
*/

.BlockTransition
{
    position: absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    width: 100%;
    height: 20vw;
}

/*
* //////////////////////////////////////////////////////////////////////////////////////////
*/