body
{
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../Images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    color: #fff;
}

/*
* Шрифты
* //////////////////////////////////////////////////////////////////////////////////////////
*/

.TextH4
{
    color: white;
    font-size: 1vw;
    font-family: Bahnschrift;
}

.TextH3
{
    color: white;
    font-size: 1.5vw;
    font-family: Bahnschrift;
}

.TextH2
{
    color: #02ACC1;
    font-size: 3vw;
    font-weight: bold;
    font-family: Bahnschrift;
}

.TextH1
{
    color: white;
    font-size: 4vw;
    font-weight: bold;
    font-family: Bahnschrift;
}

/*
* //////////////////////////////////////////////////////////////////////////////////////////
*/







/*
* Кнопки
* //////////////////////////////////////////////////////////////////////////////////////////
*/

.PanelButton
{
    display: flex;
    justify-content: right;
}

.ActiveButton
{
    border: 0.1vw solid gray;
    width: 8vw;
    height: 2.2vw;

    background-color: rgb(0, 170, 192);
    border-radius: 8vw;
}

.ActiveButton:hover
{
    background-color: rgb(53, 189, 211);
}

.ActiveButton:active
{
    background-color: rgb(0, 146, 168);
}




.UnActiveButton
{
    border: 0.1vw solid gray;
    width: 8vw;
    height: 2.2vw;

    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8vw;
}

.UnActiveButton:hover
{
    background-color: rgba(50, 50, 50, 0.7);
}

.UnActiveButton:active
{
    background-color: rgba(25, 25, 25, 0.7);
}

/*
* //////////////////////////////////////////////////////////////////////////////////////////
*/





/*
* Блоки с текстом о себе
* //////////////////////////////////////////////////////////////////////////////////////////
*/

.TextBlocks
{
    position: relative;
    width: 100%;
}

.TextLine
{
    position: relative;
    height: 10vw;
}

.TextBlockLeft
{
    position: absolute;
    width: 40vw;
    left: 4vw;
    top: 0vw;
}

.TextBlockRight
{
    position: absolute;
    width: 40vw;
    right: 4vw;
    top: 0vw;
}

/*
* //////////////////////////////////////////////////////////////////////////////////////////
*/